
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <link href="{% static 'temp/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'temp/css/custom.css' %}" rel="stylesheet">
    <script src="{% static 'temp/js/jquery.min.js' %}"></script>
    <script src="{% static 'temp/js/angular.min.js' %}"></script>
    <script src="{% static 'temp/js/angular-route.min.js' %}"></script>
    <script src="{% static 'temp/js/angular-resource.min.js' %}"></script>
    <script src="{% static 'temp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'temp/js/app.js' %}"></script>
    <script src="{% static 'temp/js/controllers.js' %}"></script>
</head>